<!--<div class="container">-->
  <!--<header class="jumbotron">-->
    <!--<div style="text-align: center" class="container">-->
      <!--<h1 >¿Te gustan las listas?</h1>-->
      <!--<p>-->
        <!--<a class="btn btn-primary btn-large" href="/lists/new">Crear Lista</a>-->
      <!--</p>-->
    <!--</div>-->
  <!--</header>-->
<!--</div>-->

<div id="landing-header">
  <h1>Bienvenido a Listify!</h1>
  <p>Guarda y comparte tus listas. O cotillea las de los demás...</p>
  <a routerLink="/lists" class="btn btn-lg btn-success">Echa un vistazo</a>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
